<h1>收件夾</h1>
<table class="table table-striped">
  <tr>
    <th class="span2"><%= t('主旨') %></th>
    <th><%= t('預覽') %></th>
    <th class="span2"><%= t('發送時間') %></th>
  </tr>
  <% @inboxes.each do |inbox| %>
  <% tr_class = inbox.read? ? 'read' : 'unread' %>
  
  <tr data-inbox-id="<%= inbox.id %>" class="<%= tr_class %>">
    <td class="span2"><%= link_to inbox.message.subject, inbox_show_path(inbox) %></td>
    <td><%= link_to inbox.message.content[0..100] + '...', inbox_show_path(inbox) %></td>
    <td class="span2"><%= time_ago_in_words(inbox.message.created_at) %></td>
  </tr>
  <% end %>
</table>
