<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
    <td><%= t('姓名') %></td>
    <td><%= @user_profile.lastname %> <%= @user_profile.middlename %> <%= @user_profile.firstname %></td>
  </tr>
  <tr>
    <td><%= t('email') %></td>
    <td><%= @user_profile.user.email %></td>
  </tr>
  <tr>
    <td><%= t('教育程度') %></td>
    <td><%= t(@user_profile.education) %></td>
  </tr>
  <tr>
    <td><%= t('聯絡地址') %></td>
    <td><%= @user_profile.address %></td>
  </tr>

</table>

<%= link_to t('修改資料'), edit_user_profile_path, :class => 'btn btn-primary pull-right' %>