<h2>上課去</h2>

<table class="table table-striped">
  <tr>
    <th>課程名稱</th>
    <th>課程類別</th>
    <th>課程單元</th>
    <th>課程狀態</th>
    <th></th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><%= study.course.title %></td>
    <td><%= study.course.category.title %></td>
    <td><%= study.course.unit %></td>
    <td><%= study.status %></td>
    <td><%= link_to '上課', study %></td>
    
    
  </tr>
<% end %>
</table>
