<dl>
  <% @course.course_items.each do |item| %>
  <dt><%= item.question %></dt>
  <dd>
    <p>
    <%= item.answer %>
    </p>
    <audio controls>
      <source src="<%= item.audio.url %>" type="audio/mp4">
      <p>Your browser does not support the audio element.</p>
    </audio>
  </dd>

  <% end %>
<dl>


<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
