<h2>購物單</h2>
<hr>
<dl class="dl-horizontal">
  <dt><%= t('姓名') %></dt>
  <% unless current_user.nil? %>
  <dd><%= current_user.user_profile.lastname %> <%= current_user.user_profile.firstname %></dd>
  <% end %>
  <dt><%= t('會員編號') %></dt>
  <% unless current_user.nil? %>
  <dd><%= current_user.id %></dd>
  <% end %>
</dl>
<hr>
<table class="table table-striped">
  <tr>
    <th><%= t('課程分類') %></th>
    <th><%= t('課程名稱') %></th>
    <th><%= t('單元數') %></th>
    <th><%= t('課程編號') %></th>
    <th><%= t('上課時間長度') %></th>
    <th><%= t('售價') %></th>
  </tr>
  <%
  total_price = 0
  @carts.each do |cart|
    %>
    <tr>
      <td><%= cart.course.category.title %></td>
      <td><%= cart.course.title %></td>
      <td><%= cart.course.unit %></td>
      <td><%= cart.course.serial %></td>
      <td><%= cart.course.duration_days %> <%= t('天') %></td>
      <td><%= number_to_currency(cart.course.price, :precision => 0, :locale => :zh_tw) %></td>
    </tr>
    <%
    total_price += cart.course.price
  end
  %>
  <tr>
    <td colspan="4"><%= t('購物單金額') %></td>
    <td><%= t('小計') %></td>
    <td><%= number_to_currency(total_price, :precision => 0, :locale => :zh_tw) %></td>
  </tr>
</table>
<%= link_to "送出訂單", new_user_order_path(@carts.first.order_number) %>
<button class="btn btn-primary pull-right clearfix" id="send_order" type="button">送出訂單</button>
<hr class="clearfix">
<ul>
  <li>請仔細檢查上方的課程是否為您想修讀的課程。
    <ul>
      <li>如果不是,請重新登入 www.OnlyNet.biz,刪除此購物單,並重新選讀您想修讀的課程。 </li>
      <li>如果是,請依照下方的繳款方式繳清款項並且通知我們您已經繳費。</li>
    </ul>
    <div class="alert" style="overflow:auto"><%= @config[:pay_instruction].html_safe %></div>
  </li>
  
  <li>繳款後,請通知我們:
    <ol>
      <li>請登入 www.OnlyNet.biz。</li>
      <li>進入「購物單」頁面,點選「繳費確認」。</li>
      <li>填寫「繳費日期」、「繳費金額」和「銀行末五碼」等訊息。</li>
    </ol>
  </li>
</ul>
<div class="alert alert-info">
<h3>我們的上課方式(請詳細閱讀)</h3>
<ol>
  <li>上課的方式以「每天進度」來進行。一天進度完成,才能前往新一天的進度。您無法跳著天數學習。</li>
  <li>在某課程的上課期間內,您可以不限次數的學習該課程已經學過的內容,不限次數的使用該課程已經學過內容的練習模組。測驗模組的部分:該課程的每個模組只能考一次。</li>
  <li>每一天的進度有
    <ol>
      <li>課程內容(課程內容學習完後,才能前往該課程內容的練習模組)、</li>
      <li>3 個練習模組(至少須完成一個練習模組,才能前往該課程內容的測驗)、</li>
      <li>12 個測驗模組(至少需完成一個測驗模組,才能進行新的一天的課程內容進度)。</li>
    </ol>
    經由每天的內容學習、練習與測驗,您可以循序漸進的增強您的英語能力。</li>
    <li>當進入新一天進度的內容學習後,可以複習以前的課程內容(不限次數)、練習模組(不限次數)和測驗(每個模組只能考一次。)(請注意:因為每一個測驗模組均進行評分,所以每個模組只能考一次。)</li>
    <li>建議完成日期是指建議您完成該天進度的第一個測驗模組的日期。每一個課程的上課期間,如果您實際的學習進度有 25 天超前預定完成的日期,就有機會獲得我們提供的課程折價券。</li>
    <li class="alert-error">請注意:課程一旦開始,不可再更改開課日期或是取消課程。</li>
  </ol>
</div>