<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="<%= @config[:keywords]%>">
  <meta name="description" content="<%= @config[:description]%>"/>
  <title><%= @config[:title]%></title>
  <%= stylesheet_link_tag    "/css/bootstrap.min.css", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container center div14">
   <header>
    <div class="row">
      <span class="span5">
        <a href="/"><h1 class="site_title"><%= image_tag "/img/logo.jpg", height: "50", class: "logo" %><%= @config[:sitename]%></h1></a>
      </span>
      <span class="span7">
        <div class="banner" id="banner3"></div>
        <div class="banner" id="banner4"></div>
      </span>
    </div>
    <div id="user-panel" class="">
      <% if user_signed_in? %>
      <%=t('歡迎！')%> <%= current_user.user_profile.firstname %>&nbsp;
      <% else %>
      <%= link_to t("登入"), new_user_session_path %> | <%= link_to t("註冊"), new_user_registration_path %>
      <% end %>
      <span class="label label-info"><%= link_to t("新訊息") + ' ' + @new_messages.to_s, inbox_path %></span>
      <a class="btn btn-small" href="<%= cart_path %>"><i class="icon-shopping-cart"></i> 購物車</a>
      <% if user_signed_in? %>
      <%= link_to t("登出"), destroy_user_session_path, class: "btn btn-small" %>
      <% end %>
    </div>
  </header>
  <ul class="nav nav-pills">
    <li><%= link_to t("首頁"), '/' %></li>
    <li><a href="/news">重要訊息</a></li>
    <% if user_signed_in? %>
    <li><a href="/study">上課去</a></li>
    <% end %>
    <li><a href="/courses">課程清單</a></li>
    <li><a href="/pages/one_on_one">一對一課程</a></li>
    <li><a href="/pages/faq">常見問答 (FAQ)</a></li>
    <li><a href="/pages/contact_us">聯絡我們</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          我的賬戶
          <b class="caret"></b>
        </a>
      <ul class="dropdown-menu">
        <!-- links -->
        <li><a href="/profile">會員資料頁</a></li>
        <li><a href="/cart">購物車</a></li>
        <li><a href="/orders">繳費明細表</a></li>
        <li><a href="/calendar">選開課日</a></li>
        <li><a href="/study">上課去</a></li>
        <li><a href="/">學習紀錄</a></li>
        <li><a href="/">自我學習</a></li>
        <li><a href="/messages">最新消息</a></li>
      </ul>
    </li>
  </ul>
  <!--
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  -->
<div class="row">
  <section id="main-content" class="span12" style="min-height:1000px;">
    <%= yield %>
  </section>
</div>

<footer><%= @config[:copyright]%></footer>
</div>

</body>
</html>
